*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 18px;
  line-height: 1.45;
  color: rgba(87, 96, 106);
}

a {
  color: inherit;
  color: rgb(0, 105, 216);
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 2px solid;
}

main {
  padding-right: 64px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.width {
  max-width: 370px;
  margin: 0 auto;
}

.column {
  display: table-cell;
  vertical-align: bottom;
}

.me {
  width: 48px;
  height: 48px;
  background-image: url("/img/me.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 48px;
  margin: 0 8px;
}

.message {
  margin: 0 0 2px 0;
  padding: 12px 20px;
  background-color: rgb(244, 247, 249);
  display: table;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.message:first-of-type {
  border-top-left-radius: 27px;
}

.message:last-of-type {
  border-bottom-left-radius: 27px;
  margin: 0;
}
