*,
:after,
:before {
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  line-height: 1.9;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body,
h1,
p {
  margin: 0
}

h1 {
  font-size: 1em;
  font-weight: 500
}

a {
  background-color: transparent;
  outline-width: 0 !important;
  text-decoration: none;
  -webkit-text-decoration-skip: objects
}

main {
  display: block;
  font-size: 1.3em;
  font-size: calc(.85em + .85vmin);
  padding: 4.5rem 1.2rem
}

main>p>a:nth-child(1) { color: #656aff }

#more {
  color: #00e0cf;
  cursor: pointer
}

#more>a:nth-child(1) { color: #0af }
#more>a:nth-child(3) { color: #888 }
#more>a:nth-child(5) { color: #1fa }
#more>a:nth-child(7) { color: #1da }
#more>a:nth-child(9) { color: #fa0 }
#more>a:nth-child(11) { color: #f09 }
#more>span { color: #000 }

main>p>a:nth-child(4) { color: #a5afaf }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  width: 85vmin;
  height: 85vmin;
  bottom: -15vmin;
  right: -15vmin;
  z-index: -9999;
}

.rotating {
  -moz-animation: rotating 45s linear infinite;
  -webkit-animation: rotating 45s linear infinite;
  animation: rotating 45s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
