*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Space Mono', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.73;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  background: #00F;
  color: #FFF;
}

::selection {
  background: #00F;
  color: #FFF;
}

::-moz-selection {
  background: #00F;
  color: #FFF;
}

body { margin: 0 }

header,
main,
footer {
  display: block;
}

h1,
p {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #03F;
  text-decoration: none;
  outline-width: 0 !important;
  box-shadow: 0 1px 0 blue;
}

.hero {
  font-size: 1.1rem;
  padding: 5rem 4.5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 97vh;
  margin: 0 auto;
}

.hero__img { margin: 0 0 1em -.247em; }

.hero__name {
  font-size: 1.43em;
  font-weight: 700;
  padding: .16em 0;
  letter-spacing: .05em;
}

.hero__links__hidden-links { display: none }

.hero__links__trigger { cursor: pointer }

.hero__location {
  padding-top: .55em;
  opacity: .24;
}

.hero__contact {
  font-size: .79em;
  margin-top: 2rem;
  padding: .9em .7em;
  border-radius: 3px;
  box-shadow: 0.25em 0.25em 0 rgba(0, 0, 0, 0.12);
  letter-spacing: .08em;
  color: #00D;
  background: #DEF;
  border: #00C .175em solid;
}

.hero__contact:hover {
  border: #05F .175em solid;
  color: #FFF;
  background: #27F;
  -webkit-transition: none;
  transition: none;
  border: #00C .175em solid;
}
