::-moz-selection {
  background: #2979ff; color: #fff; }
::selection {
  background: #2979ff; color: #fff; }
::-moz-selection {
  background: #2979ff; color: #fff; }
.bg-grad { background: #5292ff;
background: -webkit-linear-gradient(to left top, #7069f2, #5296ff);
background: linear-gradient(to left top, #7069f2, #5296ff);}
.acc { color: #f03488; }
.f00 { font-size: 1em; }
.vh-85 { height: 85vh; }
.top-vh-85 { top: 85vh; }
.w-6em { width: 4.5em; }
.nt-1p5em { margin-top: -2.66667em; }
.lh-big { line-height: 1.85; }
.nt-p84em { margin-top: -0.84em; }
.ul > li { margin-left: -0.75em; }
.lnk {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative; line-height: inherit; }
.lnk::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  -webkit-transition: height 200ms, opacity 200ms;
  transition: height 200ms, opacity 200ms;
  background-color: #2979ff;
  opacity: .67;
  height: 0.45em; bottom: 0.3em; }
.lnk:hover::after { height: 1.15em; opacity: .4; }
