*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.45;
  color: rgba(63, 64, 67);
}

a {
  color: inherit;
  text-decoration: none;
  color: rgb(41, 121, 255);;
}

main {
  padding-right: 54px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.width {
  max-width: 508px;
  margin: 0 auto;
}

.column {
  display: table-cell;
  vertical-align: bottom;
}

.me {
  width: 54px;
  height: 54px;
  background-image: url("/images/me.jpg");
  background-size: cover;
  border-radius: 27px;
  margin: 0 8px;
}

.message {
  margin: 0 0 2px 0;
  padding: 12px 20px;
  background-color: rgb(241, 243, 244);
  display: table;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.message:first-of-type {
  border-top-left-radius: 27px;
}

.message:last-of-type {
  border-bottom-left-radius: 27px;
  margin: 0;
}
